.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.submit-form {
  background-color: #f7f7f7;
  border: 1px solid #e0e0e0;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
}

.form-title {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.custom-input,
.custom-select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.custom-material-list li {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.custom-button {
  background-color: #0077b6;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.custom-button:hover {
  background-color: #005b8a;
}

.custom-select-lg {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
